$border: 1px solid black

body
  font-family: Helvetica, sans-serif
  background: url('../img/bg.jpg')
  background-size: 100%
  background-repeat: no-repeat

h1
  text-align: center

hr
  width: 90%

#app
  border: $border
  border-radius: 10px
  display: block
  margin-left: auto
  margin-right: auto
  width: 900px
  padding: 5px
  background: white

#danteButton
  width: 200px
  display: block
  margin-left: auto
  margin-right: auto

#demonArea, #upgradeArea
  width: 90%
  margin-left: auto
  margin-right: auto
